<div class="addpost_can">
        <%= form_with(model: post, local: true) do|f| %>

            <div class="wrapper_addpost">
                <div class= "addpost_con">
                    <%= f.label :title %>
                    <%= f.text_field :title %>
                </div>
                <div class= "addpost_con">
                    <%= f.label :description %>
                    <%= f.text_area :description, rows: 1 %>
                </div>
                <div class= "addpost_con">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </div>
                <div class= "addpost_con">
                </div>
                <div class= "addpost_con">
                <%= f.label :Operation  %>
                    <div class="datetime__container">
                        <%= f.datetime_select :published_at, {ampm: true }, {class:"datetime"} %>
                    </div>
                </div>    

                <div class= "addpost_con">
                    <%= f.submit %>
                    <div class="cancel">
                        <%= link_to "Cancel", posts_path, class: "back__link" %>                    
                    </div>
                </div>    

        <% end %>
    </div>
</div>
